In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [4]:
avg_=df.groupby('Product_ID',as_index=False)['Purchase'].mean()
df=pd.merge(df,avg_[['Product_ID','Purchase']],on='Product_ID').reset_index()
df.head()

,index,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase_x,Purchase_y
0,0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370,11870.863436
1,1,1000149,P00069042,M,26-35,1,B,2,1,3,NaN,NaN,10715,11870.863436
2,2,1000541,P00069042,F,18-25,4,C,3,0,3,NaN,NaN,11037,11870.863436
3,3,1000698,P00069042,M,18-25,4,A,1,0,3,NaN,NaN,8009,11870.863436
4,4,1000951,P00069042,M,46-50,2,B,4+,1,3,NaN,NaN,13346,11870.863436

In [5]:
result=pd.DataFrame()

In [6]:
result['User_ID']=test['User_ID']

In [7]:
result['Product_ID']=test['Product_ID']

In [8]:
result=pd.merge(result,avg_[['Product_ID','Purchase']],on='Product_ID').reset_index()

In [9]:
result.to_csv("result_mean.csv")